In [83]:
import pandas as pd
import numpy as np

In [84]:
df=pd.read_csv(r"C:\Users\91944\Downloads\archive (3)\Housing.csv")

In [85]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [86]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [87]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [88]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [89]:
duplicates = df[df.duplicated()]

In [90]:
duplicates

Empty DataFrame
Columns: [price, area, bedrooms, bathrooms, stories, mainroad, guestroom, basement, hotwaterheating, airconditioning, parking, prefarea, furnishingstatus]
Index: []

In [91]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [92]:
categorical_values=['mainroad','guestroom','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']

In [93]:
categorical_values

['mainroad',
 'guestroom',
 'hotwaterheating',
 'airconditioning',
 'parking',
 'prefarea',
 'furnishingstatus']

In [94]:
#now lets perform the one hot encoding!

In [95]:
encoded_df = pd.get_dummies(df, columns=categorical_values)

In [96]:
encoded_df

,price,area,bedrooms,bathrooms,stories,basement,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,airconditioning_yes,parking_0,parking_1,parking_2,parking_3,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,no,False,True,True,False,...,True,False,False,True,False,False,True,True,False,False
1,12250000,8960,4,4,4,no,False,True,True,False,...,True,False,False,False,True,True,False,True,False,False
2,12250000,9960,3,2,2,yes,False,True,True,False,...,False,False,False,True,False,False,True,False,True,False
3,12215000,7500,4,2,2,yes,False,True,True,False,...,True,False,False,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,yes,False,True,False,True,...,True,False,False,True,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,False,True,True,False,...,False,False,False,True,False,True,False,False,False,True
541,1767150,2400,3,1,1,no,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False
542,1750000,3620,2,1,1,no,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
543,1750000,2910,3,1,1,no,True,False,True,False,...,False,True,False,False,False,True,False,True,False,False
544,1750000,3850,3,1,2,no,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
X = encoded_df.drop('price', axis=1)

In [99]:
y=encoded_df['price']

In [100]:
X.columns

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'basement', 'mainroad_no',
       'mainroad_yes', 'guestroom_no', 'guestroom_yes', 'hotwaterheating_no',
       'hotwaterheating_yes', 'airconditioning_no', 'airconditioning_yes',
       'parking_0', 'parking_1', 'parking_2', 'parking_3', 'prefarea_no',
       'prefarea_yes', 'furnishingstatus_furnished',
       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished'],
      dtype='object')

In [101]:
encoded_df

,price,area,bedrooms,bathrooms,stories,basement,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,airconditioning_yes,parking_0,parking_1,parking_2,parking_3,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,no,False,True,True,False,...,True,False,False,True,False,False,True,True,False,False
1,12250000,8960,4,4,4,no,False,True,True,False,...,True,False,False,False,True,True,False,True,False,False
2,12250000,9960,3,2,2,yes,False,True,True,False,...,False,False,False,True,False,False,True,False,True,False
3,12215000,7500,4,2,2,yes,False,True,True,False,...,True,False,False,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,yes,False,True,False,True,...,True,False,False,True,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,False,True,True,False,...,False,False,False,True,False,True,False,False,False,True
541,1767150,2400,3,1,1,no,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False
542,1750000,3620,2,1,1,no,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
543,1750000,2910,3,1,1,no,True,False,True,False,...,False,True,False,False,False,True,False,True,False,False
544,1750000,3850,3,1,2,no,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True

In [102]:
# Define the list of categorical columns to drop
categorical_columns = ['mainroad_no', 'mainroad_yes', 'guestroom_no', 'guestroom_yes',
                       'hotwaterheating_no', 'hotwaterheating_yes', 'airconditioning_no',
                       'airconditioning_yes', 'parking_0', 'parking_1', 'parking_2', 'parking_3',
                       'prefarea_no', 'prefarea_yes', 'furnishingstatus_furnished',
                       'furnishingstatus_semi-furnished', 'furnishingstatus_unfurnished']

# Drop the categorical columns from X
X = X.drop(columns=categorical_columns)

# Now X should contain only the numerical features
print(X.columns)

Index(['area', 'bedrooms', 'bathrooms', 'stories', 'basement'], dtype='object')

In [103]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
import pandas as pd

#

In [104]:
#here we needs to initialize the k-fold cross-validation

In [105]:
encoded_df.dtypes

price                               int64
area                                int64
bedrooms                            int64
bathrooms                           int64
stories                             int64
basement                           object
mainroad_no                          bool
mainroad_yes                         bool
guestroom_no                         bool
guestroom_yes                        bool
hotwaterheating_no                   bool
hotwaterheating_yes                  bool
airconditioning_no                   bool
airconditioning_yes                  bool
parking_0                            bool
parking_1                            bool
parking_2                            bool
parking_3                            bool
prefarea_no                          bool
prefarea_yes                         bool
furnishingstatus_furnished           bool
furnishingstatus_semi-furnished      bool
furnishingstatus_unfurnished         bool
dtype: object

In [106]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Convert the 'basement' column
encoded_df['basement'] = label_encoder.fit_transform(encoded_df['basement'])

# Now 'basement' column contains numerical values
print(encoded_df['basement'].head())

0    0
1    0
2    1
3    1
4    1
Name: basement, dtype: int32

In [107]:
encoded_df.dtypes

price                              int64
area                               int64
bedrooms                           int64
bathrooms                          int64
stories                            int64
basement                           int32
mainroad_no                         bool
mainroad_yes                        bool
guestroom_no                        bool
guestroom_yes                       bool
hotwaterheating_no                  bool
hotwaterheating_yes                 bool
airconditioning_no                  bool
airconditioning_yes                 bool
parking_0                           bool
parking_1                           bool
parking_2                           bool
parking_3                           bool
prefarea_no                         bool
prefarea_yes                        bool
furnishingstatus_furnished          bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
dtype: object

In [108]:
# Assuming 'basement' column has been encoded as binary (0 or 1), but it still contains 'yes' and 'no' values

# Convert 'basement' column to binary encoding
X['basement'] = X['basement'].apply(lambda x: 1 if x == 'yes' else 0)

# Now, check for any remaining non-numeric columns
non_numeric_columns = X.select_dtypes(include=['object']).columns
print(non_numeric_columns)

# If there are any remaining non-numeric columns, handle them appropriately (e.g., one-hot encoding or label encoding)
# For example, if 'basement' was not the only non-numeric column, you can one-hot encode all categorical columns:
# X = pd.get_dummies(X)

# Now, you can proceed to split the data, train the model, and evaluate its performance

Index([], dtype='object')

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Define the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

In [109]:
X

     area  bedrooms  bathrooms  stories  basement
0    7420         4          2        3         0
1    8960         4          4        4         0
2    9960         3          2        2         1
3    7500         4          2        2         1
4    7420         4          1        2         1
..    ...       ...        ...      ...       ...
540  3000         2          1        1         1
541  2400         3          1        1         0
542  3620         2          1        1         0
543  2910         3          1        1         0
544  3850         3          1        2         0

[545 rows x 5 columns]

In [110]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [111]:
X = df[['area', 'bedrooms', 'bathrooms', 'stories', 'basement']]
y = df['price']

In [112]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [113]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [114]:
encoded_df.dtypes

price                              int64
area                               int64
bedrooms                           int64
bathrooms                          int64
stories                            int64
basement                           int32
mainroad_no                         bool
mainroad_yes                        bool
guestroom_no                        bool
guestroom_yes                       bool
hotwaterheating_no                  bool
hotwaterheating_yes                 bool
airconditioning_no                  bool
airconditioning_yes                 bool
parking_0                           bool
parking_1                           bool
parking_2                           bool
parking_3                           bool
prefarea_no                         bool
prefarea_yes                        bool
furnishingstatus_furnished          bool
furnishingstatus_semi-furnished     bool
furnishingstatus_unfurnished        bool
dtype: object

In [115]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [116]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Convert the 'basement' column
encoded_df['basement'] = label_encoder.fit_transform(encoded_df['basement'])

# Now 'basement' column contains numerical values (0 for 'no', 1 for 'yes')
print(encoded_df['basement'].head())

0    0
1    0
2    1
3    1
4    1
Name: basement, dtype: int64

In [117]:
import pandas as pd

# Assuming you have a DataFrame df with a column named 'basement'
data = {'basement': [0, 0, 1, 1, 1]}
df = pd.DataFrame(data)

# Count the occurrences of each value in the 'basement' column
value_counts = df['basement'].value_counts()
print("Value Counts:")
print(value_counts)

# Calculate the mean of the values in the 'basement' column
mean_value = df['basement'].mean()
print("\nMean Value:", mean_value)

# Filter the DataFrame to select rows where the 'basement' value is greater than 0
filtered_df = df[df['basement'] > 0]
print("\nFiltered DataFrame:")
print(filtered_df)

Value Counts:
basement
1    3
0    2
Name: count, dtype: int64

Mean Value: 0.6

Filtered DataFrame:
   basement
2         1
3         1
4         1

In [120]:
encoded_df.head()

,price,area,bedrooms,bathrooms,stories,basement,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,airconditioning_yes,parking_0,parking_1,parking_2,parking_3,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,0,False,True,True,False,...,True,False,False,True,False,False,True,True,False,False
1,12250000,8960,4,4,4,0,False,True,True,False,...,True,False,False,False,True,True,False,True,False,False
2,12250000,9960,3,2,2,1,False,True,True,False,...,False,False,False,True,False,False,True,False,True,False
3,12215000,7500,4,2,2,1,False,True,True,False,...,True,False,False,False,True,False,True,True,False,False
4,11410000,7420,4,1,2,1,False,True,False,True,...,True,False,False,True,False,True,False,True,False,False

In [121]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Define the features (X) and target variable (y)
X = encoded_df.drop(columns=['price'])
y = encoded_df['price']

# Initialize KFold with k=5 (you can adjust k as needed)
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Initialize a list to store the mean squared errors for each fold
mse_scores = []

# Iterate through each fold
for train_index, test_index in kf.split(X):
    # Split the data into train and test sets for this fold
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    # Initialize and fit the model
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(X_test)
    
    # Calculate mean squared error and append to the list
    mse = mean_squared_error(y_test, y_pred)
    mse_scores.append(mse)

# Calculate the mean of the MSE scores
mean_mse = np.mean(mse_scores)
print("Mean Squared Error:", mean_mse)

Mean Squared Error: 1207234538405.318

In [125]:
from sklearn.model_selection import KFold, cross_val_score

def train_and_evaluate_model_with_cv(df, model_type='rf', target_column='price', n_splits=5, random_state=42, n_estimators=100):
    # Extract features and target variable
    X = df.drop(target_column, axis=1)
    y = df[target_column]

    # Initialize the model based on the model_type parameter
    if model_type == 'rf':
        model = RandomForestRegressor(n_estimators=n_estimators, random_state=random_state)
    elif model_type == 'svm':
        model = SVR()
    elif model_type == 'lr':
        model = LinearRegression()
    else:
        raise ValueError("Invalid model type. Please choose from 'rf', 'svm', or 'lr'.")

    # Define the cross-validation strategy
    kf = KFold(n_splits=n_splits, shuffle=True, random_state=random_state)

    # Perform k-fold cross-validation
    mse_scores = cross_val_score(model, X, y, cv=kf, scoring='neg_mean_squared_error')

    # Convert negative mean squared error scores to positive values
    mse_scores = -mse_scores

    # Calculate the mean and standard deviation of MSE scores
    mean_mse = mse_scores.mean()
    std_mse = mse_scores.std()

    print("Mean Squared Error ({} with {}-fold CV): {:.3f} +/- {:.3f}".format(model_type.upper(), n_splits, mean_mse, std_mse))

    return model, mean_mse

# Example usage:i thin
# Assuming 'encoded_df' contains your dataset and 'price' is the target variable
model_types = ['rf', 'svm', 'lr']
for model_type in model_types:
    trained_model, mean_mse = train_and_evaluate_model_with_cv(encoded_df, model_type=model_type)

Mean Squared Error (RF with 5-fold CV): 1276265470099.927 +/- 408943043290.357
Mean Squared Error (SVM with 5-fold CV): 3692844150032.116 +/- 1389195119705.428
Mean Squared Error (LR with 5-fold CV): 1207234538405.318 +/- 317943346577.041

In [126]:
# so we conclude the Linear Regression performance will be better compared to other algorithms

In [133]:
lr_predictions =model.predict(X)

In [134]:
model.fit(X_train,y_train)

LinearRegression()

In [135]:
mse=mean_squared_error(y_test,y_pred)

In [136]:
mse

1254387103671.7666

In [137]:
rmse = np.sqrt(mse)
r_squared = model.score(X_test, y_test)

In [138]:
rmse = np.sqrt(mse)
r_squared = model.score(X_test, y_test)

In [139]:
rmse

1119994.2426958126

In [140]:
r_squared

0.6428286954796449

In [144]:
X

,area,bedrooms,bathrooms,stories,basement,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,hotwaterheating_no,...,airconditioning_yes,parking_0,parking_1,parking_2,parking_3,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,0,False,True,True,False,True,...,True,False,False,True,False,False,True,True,False,False
1,8960,4,4,4,0,False,True,True,False,True,...,True,False,False,False,True,True,False,True,False,False
2,9960,3,2,2,1,False,True,True,False,True,...,False,False,False,True,False,False,True,False,True,False
3,7500,4,2,2,1,False,True,True,False,True,...,True,False,False,False,True,False,True,True,False,False
4,7420,4,1,2,1,False,True,False,True,True,...,True,False,False,True,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,False,True,True,False,True,...,False,False,False,True,False,True,False,False,False,True
541,2400,3,1,1,0,True,False,True,False,True,...,False,True,False,False,False,True,False,False,True,False
542,3620,2,1,1,0,False,True,True,False,True,...,False,True,False,False,False,True,False,False,False,True
543,2910,3,1,1,0,True,False,True,False,True,...,False,True,False,False,False,True,False,True,False,False
544,3850,3,1,2,0,False,True,True,False,True,...,False,True,False,False,False,True,False,False,False,True

In [145]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [146]:
# Select a row from the dataframe to use for prediction
row_index = 0  # You can choose any index you want
X_pred = X.iloc[row_index:row_index+1]

# Make predictions using the trained model
predicted_price = model.predict(X_pred)

# Print the predicted price
print("Predicted Price:", predicted_price)

Predicted Price: [8213167.01067033]

In [147]:
#Finaly we completed everything now its time to save out model using joblibs

In [152]:
import joblib

In [153]:
joblib.dump(model, 'trained_model.joblib')

['trained_model.joblib']

In [154]:
loaded_model=joblib.load('trained_model.joblib')

In [155]:
predictions=loaded_model.predict(X_test)

In [156]:
predictions

array([10062486.89746312,  7474233.86362203,  5866991.68726139,
        6172537.9614824 ,  5255800.37470326,  6527891.91750652,
        6501774.97788809,  6165936.02446391,  6676729.99205732,
        7098333.93438668,  7768605.75112987,  7291121.14774609,
        8177247.96101991,  7257218.84722159,  6739433.62764332,
        5970811.67407312,  3948922.96920768,  6338806.40615625,
        5420017.27954472,  5572202.69068252,  7504003.6260338 ,
        5278771.25289449,  6522250.8966898 ,  6568895.62017477,
        3487727.46847632,  5388541.93686901,  5049987.90995698,
        6424895.29598416,  6482679.10607169,  6196626.55525533,
        5583598.86664085,  2930027.92872967,  6129005.66332316,
        5744915.15816524,  4647271.95801126,  5196342.19770043,
        4603237.10162624,  6352824.90194946,  2997649.26486735,
        4870018.52163628,  6507393.07235633,  4401396.81621629,
        3614924.14093863,  3528515.90451792,  4189956.14333753,
        4544832.17136117,  5242687.72578506,  3129409.63894825,
        3955880.98053564,  3220726.61751545,  6330695.95521562,
        4168826.6122675 ,  3517397.0923978 ,  3550352.00978361,
        2730496.61739388,  4088881.19928436,  3528142.21418877,
        4242002.17463723,  4334662.26679852,  4857989.77115467,
        4470699.84392533,  4331290.64080502,  5772156.73530421,
        2766154.3119768 ,  5461253.02574115,  4337026.26459601,
        4404225.02298621,  4492506.45985866,  2997524.00338922,
        2941681.03628179,  4100886.68141911,  4498928.51561531,
        3116241.55764665,  3172959.99620585,  3223526.50416452,
        3907304.58611388,  2539824.72692531,  4618863.80655153,
        3885502.85137302,  5631119.18140906,  2980497.34572641,
        4686754.7068846 ,  3988037.84224551,  4131704.34311362,
        2769058.98434567,  2636942.9305904 ,  2832357.99862125,
        2699866.9531087 ,  4331121.38650153,  3419600.24787003,
        3208586.84205731,  2505833.35564253,  2916235.18190337,
        3457902.51312228,  3209129.78668994,  1935451.0958051 ,
        4059112.88609312,  2630634.91615217,  3307058.53587955,
        1931295.96022718,  3394070.23374471,  2040553.93935041,
        3342124.37209681,  2539824.72692531,  2560400.20482958,
        3146160.78428033,  2933388.69751746,  2365489.84642347,
        2534968.81674205])